.about {
}

.profileImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileImgContainer {
  position: relative;
  width: 200px; /* 원형 이미지 크기 */
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
