@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary2: #6663fd;
  --primary: #1e88e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

// @font-face {
//   font-family: "SF Pro Text";
//   src: url("/fonts/SF-Pro-Text-Light.woff2") format("woff2");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "SF Pro Text";
//   src: url("/fonts/SF-Pro-Text-Semibold.woff2") format("woff2");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

body {
  // font-family: "SF Pro Text", sans-serif;
  color: var(--foreground);
  background: var(--background);
}

.common-container {
  @apply flex items-center justify-center; //min-h-[100vh]
  padding-top: 64px;

  section {
    @apply container mx-auto px-6;
    h2 {
      @apply text-2xl font-bold text-gray-800 sm:text-3xl mb-8;
      border-bottom: dashed 2px #cccccc;
      padding-bottom: 10px;

      & + p {
        @apply mt-4 mb-8 text-gray-600;
      }

      span {
        @apply font-normal sm:text-lg text-gray-600 relative pl-3 ml-2 text-sm;

        &::before {
          @apply content-[''] inline-block w-px  h-3 bg-gray-400 absolute top-1/2 left-0 -translate-y-1/2;
        }
      }
    }
  }
}

// .title {
//   @apply font-bold;
//   span {
//     @apply font-normal text-lg text-gray-600 relative pl-3 ml-2;

//     &::before {
//       @apply content-[''] inline-block w-px  h-3 bg-gray-400 absolute top-1/2 left-0 -translate-y-1/2;
//     }
//   }
// }

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

@mixin a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
